@font-face {
  font-family: 'Nunito';
  font-weight: 400;
  src: url('../fonts/Nunito-Regular.ttf');
}
@font-face {
  font-family: 'Roboto Mono';
  font-weight: 400;
  src: url('../fonts/RobotoMono-Regular.ttf');
}
@font-face {
  font-family: 'Roboto Mono';
  font-weight: 200;
  src: url('../fonts/RobotoMono-Light.ttf');
}
